<div class="row">
  <div class="col-sm-4">
  </div>
<div class="col-sm-4">
<a class="float-right btn btn-outline-primary" routerLink="/register">Registrar</a>
<h4 class="card-title mb-4 mt-1">Ingresar</h4>
<form>
  <div class="form-group">
    <label>UserName</label>
    <input #userName (blur)="setUserName(userName.value)" class="form-control" placeholder="Username" type="text">
  </div>
  <div class="form-group">
    <button (click)="next()" class="btn btn-primary btn-block"> Siguiente </button>
  </div>
</form>
  <span>{{message}}</span>
</div>
</div>
